@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    
}

body{
    background-color: beige;
}
.he{
    width: 50%;
    max-width: 300px;
    background: linear-gradient(120deg,#38afb7,#d2d1db);
    color: #1f1b1b;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 30px 60px;
    line-height: 30px;
    
    
}

.he input[type="text"]{
    border-radius: 20px;
    height: 25px;
    width: 60%;
    padding: 8px;
    padding-left: 10px;
    outline: 0;
    border: 0;
    font-size: 14px;
}
.he textarea{
    border-radius: 20px;
    height: 150px;
    width: 60%;
    padding: 8px;
    outline: 0;
    border: 0;
    padding-left: 10px;
    font-size: 14px;
}

.he input[type="submit"]{
    border-radius: 20px;
    height: 40px;
    width: 50%;
    line-height: 1px;
    padding: 0;
    background-color: rgb(220, 226, 219);
    font-size: 15px;
}